*{
    box-sizing: border-box;
    font-family: sans-serif;
}


.container{
    display: flex;
    flex-direction: column;
padding-top: 200px;
    margin: 0 auto;
    width: 303px;
    

}

.grid{
    display: flex;
    flex-wrap: wrap;
    
    width: 302px;
    border: 1px solid black;
    user-select: none;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 100px;
    color: darkblue;
    cursor: pointer;

    user-select: none;

}

.btn-reset{
    width: 302px;
height: 70px;
margin-left: auto;
margin-right: auto;
font-size: 50px;
background-color: yellowgreen;
border: 1px solid teal;
}

.winner{

    display: flex;
    align-items: center;
    flex-direction: column;
    
    position: absolute;
   padding: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 700px;
    background: rgb(190, 223, 129);
    text-align: center;

    border-radius: 20px;
    z-index: 10;
}
@media screen and (max-width: 767px){
    .winner { 
    width: 305px;
    height: 500px;
padding: 15px;
}
}

.image{
    width: 150px;
    height: 150px;
}

.text{
    color: green;
    font-size: 50px;
    padding: 30px, 0;
}
@media screen and (max-width: 767px){
    .text { 
        font-size: 30px;
        padding: 20px, 0;
}
}


.title{
    font-size: 150px;
    margin: 0;
    margin-bottom: auto;
    color: darkblue;
}
@media screen and (max-width: 767px){
    .title { 
        font-size: 80px;
}
}

.close{
    width: 100px;
    height: 50px;
    font-size: 30px;

    border: 2px solid ghostwhite;
    border-radius: 5px;
    background-color: burlywood;
}
